<div class="col-md-12">
    <div class="col-md-4">
        <label>Track no</label>
    </div>
    <div class="col-md-8">
        <input type="text" name="trackno" ng-model="Track.trackNumber" class="form-control" />
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-4">
        <label>Song Title</label>
    </div>
    <div class="col-md-8">
        <input type="text" name="songTitle" ng-model="Track.songTitle" class="form-control" />
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-4">
        <label>Track Length</label>
    </div>
    <div class="col-md-8">
        <input type="text" name="trackLength" ng-model="Track.trackLength" class="form-control" />
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-4">
        <label>Genre</label>
    </div>
    <div class="col-md-8">
        <input type="text" name="genre" ng-model="Track.genre" class="form-control" />
    </div>
</div>